<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Quitamos el color primary del toolbar para un look más limpio -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="medium" class="logout-btn">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="greeting-section">
    <p class="subtitle">Game Survey Campus</p>
    <h1 class="title">¿Qué deseas ver?</h1>
  </div>

  <div class="cards-container">


    <!-- Tarjeta Formulario -->
    <div class="minimal-card ion-activatable ripple-parent" (click)="navigateTo('/survey')">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="icon-wrapper bg-tertiary">
        <ion-icon name="images-outline"></ion-icon>
      </div>
      <div class="card-content">
        <h3>Formulario</h3>
        <p>Brinda info.</p>
      </div>
      <ion-icon name="chevron-forward-outline" class="nav-icon"></ion-icon>
    </div>

  </div>

</ion-content>