<ion-content [fullscreen]="true" class="splash-content">
  <div class="splash-container">

    <div class="logo-wrapper">
      <div class="logo-ring ring-outer"></div>
      <div class="logo-ring ring-inner"></div>
      <div class="logo-core">
        <ion-icon name="code-slash-outline"></ion-icon>
      </div>
    </div>

    <div class="text-wrapper">
      <p class="label">Portafolio</p>
      <h1 class="name">David</h1>
    </div>

    <div class="loader-bar">
      <div class="loader-fill"></div>
    </div>

  </div>
</ion-content>