<ion-content class="splash-bg" [fullscreen]="true">
  
  <div class="splash-container">
    
    <!-- Logo Central Animado -->
    <div class="logo-box fade-in-down">
      <ion-icon name="game-controller"></ion-icon>
    </div>
    
    <!-- Textos de Branding -->
    <div class="text-container fade-in-up">
      <h1 class="brand-title">Radar Gamer</h1>
      <p class="brand-subtitle">Campus Survey App</p>
    </div>

    <!-- Cargador Minimalista (Bottom) -->
    <div class="loader-container fade-in-delayed">
      <div class="minimal-loader"></div>
    </div>

  </div>

</ion-content>